/**
*  Paper
*  --------------------------------
*  Free to use under the MIT license.
*  http://www.opensource.org/licenses/mit-license.php
*
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

html {
    font-size: 100%;
    line-height: 1.5em;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::-moz-selection {
    color: #000;
    background-color: #e0f0e9;
}

*::selection {
    color: #000;
    background-color: #e0f0e9;
}

body {
    background-color: #fffbf0;
    font-family: "Source Han Sans", "Hiragino Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    font-weight: 300;
    color: #1c1e2a;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 767px) {
    body {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        width: 100%;
        min-width: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Han Sans", "Hiragino Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    font-weight: 200;
    color: #161823;
    text-rendering: optimizeLegibility;
    padding-top: 0.252em;
    line-height: 1.0665em;
    padding-bottom: 0.252em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #9d2933;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #c93756;
}

@media only screen and (max-width: 767px) {
    h1, h2, h3, h4, h5, h6 {
        word-wrap: break-word;
    }
}

h1 {
    font-size: 67.77709px;
    font-size: 4.23607rem;
}

h1.xlarge {
    font-size: 109.66563px;
    font-size: 6.8541rem;
}

h1.xxlarge {
    font-size: 126.20665px;
    font-size: 7.88792rem;
}

h1.absurd {
    font-size: 177.44273px;
    font-size: 11.09017rem;
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 41.88854px;
        font-size: 2.61803rem;
    }
}

h2 {
    font-size: 41.88854px;
    font-size: 2.61803rem;
}

@media only screen and (max-width: 767px) {
    h2 {
        font-size: 35.79335px;
        font-size: 2.23708rem;
    }
}

h3 {
    font-size: 29.79335px;
    font-size: 1.86208rem;
}

h4 {
    font-size: 25.88854px;
    font-size: 1.61803rem;
}

h5 {
    font-size: 18.4133px;
    font-size: 1.15083rem;
}

h6 {
    font-size: 16px;
    font-size: 1rem;
}

p {
    font-family: "Source Han Sans", "Hiragino Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 0.53325em;
    line-height: 1.5em;
}

p.lead {
    font-size: 20px;
    font-size: 1.25rem;
    margin-bottom: 18.4133px;
}

p.indent {
    text-indent: 2em;
    text-indent: 2rem;
}

a {
    color: #9d2933;
    text-decoration: none;
    outline: 0;
    line-height: inherit;
}

a:hover {
    color: #c93756;
}

ul, ol {
    margin-bottom: 0.252em;
}

ul {
    list-style: none outside;
}

ul ul {
    margin: 0.375em 0 0.375em 2em;
    margin-left: 2rem;
}

ol {
    list-style: decimal;
    margin-left: 32px;
}

ol ol {
    margin: 0.375em 0 0.375em 2em;
    margin-left: 2rem;
}

li {
    padding-bottom: 0.252em;
}
