// base styles
@import "compass/typography/vertical_rhythm";
@import "compass/css3/box-sizing";
@import "compass/css3/selection";
@import "compass/css3/flexbox";
@import "variables/settings";
@import "mixins/media-queries";
@import "mixins/responsive-font-weight";
@import "mixins/visibility";

@include establish-baseline;

* {
  @include box-sizing(border-box);
  @include selection($color-text-selection);
}

body {
  background-color: $color-background;
  font-family: $font-family;
  @include responsive-body-font-weight {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
  }
  color: $color-body-text;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-center {
  @extend %text-center;
}

.text-left {
  @extend %text-left;
}

.text-right {
  @extend %text-right;
}

%text-center {
  text-align: center;
}

%text-left {
  text-align: left;
}

%text-right {
  text-align: right;
}

// vertical align
.valign {
  @include display-flex();
  @include align-items(center);

  > * {
    display: block;
  }
}

.hide {
  &:not(.show) {
    display: none;
  }
}

.hidden-phone {
  @include hidden(phone);
}

.hidden-tablet {
  @include hidden(tablet);
}

.hidden-desktop {
  @include hidden(desktop);
}