// base styles
@import "compass/typography/vertical_rhythm";
@import "compass/css3/box-sizing";
@import "compass/css3/selection";
@import "variables/settings";
@import "mixins/media-queries";
@import "mixins/responsive-font-weight";

@include establish-baseline;

* {
  @include box-sizing(border-box);
  @include selection($color-text-selection);
}

body {
  background-color: $color-background;
  font-family: $font-family;
  @include responsive-body-font-weight {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
  }
  color: $color-body-text;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}