@charset "UTF-8";
@import "variables/settings";
@import "mixins/z-depth";
@import "mixins/media-queries";
@import "mixins/font-size";
@import "compass/typography/vertical_rhythm";
@import "compass/css3/columns";
@import "compass/css3/images";
@import "compass/css3/background-size";

// document styles
.document {
  position: relative;
  overflow: hidden;
  @include rhythm-margins($rhythm-line-height);
  background-color: $color-paper;
  padding: 0.618*$document-padding $document-padding;
  @include z-depth-1;

  .document-title {
    text-align: center;
    @include margin-trailer($rhythm-line-height);
  }

  &.document-red-head {
    background-color: $color-background;

    .document-title {
      @include padding-trailer($rhythm-line-height);
      @include margin-trailer($rhythm-line-height + $rhythm-spacing);
      border-bottom: 2px $color-heading-red-head solid;

      &, h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-song;
        font-weight: $font-weight-bold;
      }
    }
  }

  &.document-image {
    padding: 0;
    .document-title {
      margin-bottom: 0;
      position: relative;
      img {
        display: block;
        width: 100%;
      }
      .document-title-text {
        position: absolute;
        left: 10%;
        bottom: 10% * 0.618;
        max-width: 100% - 10% * 2;
        @include rhythm-padding($rhythm-spacing);
        padding-left: 2em;
        padding-right: 2em;
        background-color: rgba($color-shade, 0.8);
        * {
          color: $color-background;
        }
      }
    }
    .document-content {
      padding: 0 $document-padding $document-padding*0.618 $document-padding;
      @include padding-leader($rhythm-line-height);
    }
  }

  &.document-newspaper {
    background-color: $color-newspaper;
    .document-title {
      h1, h2, h3, h4, h5, h6 {
        font-weight: $font-weight-heavy;
      }
    }
    .document-content {
      @include column-count(2);
      @include screen(phone-vertical) {
        @include column-count(1);
      }
      p {
        margin-bottom: 0;
      }
    }
  }

  &.vertical {
    article {
      @include font-size-rem($base-font-size * 1.2);
    }
    &, h1, h2, h3, h4, h5, h6 {
      font-family: $font-family-fangsong;
    }
    .document-title {
      text-align: left; // IE hack
      text-align: start;
    }
    .document-content {
      position: relative;
      padding: 0.5em 0;
      p {
        line-height: $document-vertical-line-height;
        font-size: $document-vertical-line-height * 0.618;
      }
      @include background-image(linear-gradient(left, $color-hei 0, $color-paper 1px, $color-paper 2.5em));
      @include background-size(2.5em 100%);
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: 1px solid $color-hei;
      }
    }
  }
}