@import "mixins/media-queries";
@import "mixins/clearfix";

// grid
.container {
  margin: 0 auto;
  max-width: $container-width-max;
  width: 70%;
  @include screen(tablet) {
    width: 85%;
  }
  @include screen(phone) {
    width: 90%;
  }
}

.row {
  margin: 0 auto;
  @include clearfix;

  .col {
    float: left;
    &:not(.no-gutter) {
      padding: 0 $gutter-width-px/2;
    }
    @include box-sizing(border-box);

    @for $i from 1 through $column-number-max {
      @for $j from 1 through $i {
        &.span-#{$j}-#{$i} {
          width: unquote(100/$i*$j+"%");
        }
        @if $i != $j {
          &.push-#{$j}-#{$i} {
            margin-left: unquote(100/$i*$j+"%");
          }
        }
      }
    }

    @include screen(phone-vertical) {
      @for $i from 1 through $column-number-max {
        @for $j from 1 through $i {
          &.span-phone-vertical-#{$j}-#{$i} {
            width: unquote(100/$i*$j+"%");
          }
          @if $i != $j {
            &.push-phone-vertical-#{$j}-#{$i} {
              margin-left: unquote(100/$i*$j+"%");
            }
          }
        }
      }
    }

    @include screen(phone-horizontal) {
      @for $i from 1 through $column-number-max {
        @for $j from 1 through $i {
          &.span-phone-horizontal-#{$j}-#{$i} {
            width: unquote(100/$i*$j+"%");
          }
          @if $i != $j {
            &.push-phone-horizontal-#{$j}-#{$i} {
              margin-left: unquote(100/$i*$j+"%");
            }
          }
        }
      }
    }

    @include screen(phone) {
      @for $i from 1 through $column-number-max {
        @for $j from 1 through $i {
          &.span-phone-#{$j}-#{$i} {
            width: unquote(100/$i*$j+"%");
          }
          @if $i != $j {
            &.push-phone-#{$j}-#{$i} {
              margin-left: unquote(100/$i*$j+"%");
            }
          }
        }
      }
    }

    @include screen(tablet-vertical) {
      @for $i from 1 through $column-number-max {
        @for $j from 1 through $i {
          &.span-tablet-vertical-#{$j}-#{$i} {
            width: unquote(100/$i*$j+"%");
          }
          @if $i != $j {
            &.push-tablet-vertical-#{$j}-#{$i} {
              margin-left: unquote(100/$i*$j+"%");
            }
          }
        }
      }
    }

    //    // uncomment this block to enable responsive columns for these media queries
    //    @include screen(tablet) {
    //      @for $i from 1 through $column-number-max {
    //        @for $j from 1 through $i {
    //          &.span-tablet-#{$j}-#{$i} {
    //            width: unquote(100/$i*$j+"%");
    //          }
    //          @if $i != $j {
    //            &.push-tablet-#{$j}-#{$i} {
    //              margin-left: unquote(100/$i*$j+"%");
    //            }
    //          }
    //        }
    //      }
    //    }
    //
    //    @include screen(desktop) {
    //      @for $i from 1 through $column-number-max {
    //        @for $j from 1 through $i {
    //          &.span-desktop-#{$j}-#{$i} {
    //            width: unquote(100/$i*$j+"%");
    //          }
    //          @if $i != $j {
    //            &.push-desktop-#{$j}-#{$i} {
    //              margin-left: unquote(100/$i*$j+"%");
    //            }
    //          }
    //        }
    //      }
    //    }
    //
    //    @include screen(large-screen) {
    //      @for $i from 1 through $column-number-max {
    //        @for $j from 1 through $i {
    //          &.span-large-screen-#{$j}-#{$i} {
    //            width: unquote(100/$i*$j+"%");
    //          }
    //          @if $i != $j {
    //            &.push-large-screen-#{$j}-#{$i} {
    //              margin-left: unquote(100/$i*$j+"%");
    //            }
    //          }
    //        }
    //      }
    //    }

    &.centered {
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
  }
}