@charset "UTF-8";
@import "variables/settings";
@import "mixins/z-depth";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

%dropdown-ul {
  position: absolute;
  //top: 1em * (1+1/$golden);
  top: ($navbar-height - $navbar-font-size)/2 - $navbar-font-size/$golden/2;
  left: $navbar-font-size/$golden/2;
  max-height: 1em * (1+1/$golden);
  overflow: hidden;
  background-color: $color-navbar;
  z-index: -1;
  > li {
    float: none;
    padding: (1em/$golden/2);
    &:first-child {
      padding-top: 1em * (1+1/$golden*1.5);
    }
    line-height: $navbar-font-size;
    white-space: nowrap;
  }
  @include transition(max-height 0s);
}

%dropdown-ul-active {
  height: auto;
  max-height: 500px;
  background-color: $color-background;
  @include z-depth-1;
  @include transition(max-height 0.3s);
}

// navbar
nav {
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;
  font-size: $navbar-font-size;
  background-color: $color-navbar;

  & > a {
    font-size: $navbar-logo-font-size;
    &:hover {
      border-bottom: none;
    }
  }

  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
    @include transition(color 0.1s, border-bottom 0.1s);
  }

  > ul > li > a {
    padding: (1em/$golden/2) 0;
    margin: 0 (1em/$golden);
  }

  ul {
    margin: 0;
    float: left;
    > li {
      float: left;
      padding-bottom: 0;
      position: relative;
      &.active {
        z-index: 1;
      }

      & > ul { // navbar dropdown
        @extend %dropdown-ul;
      }
      &.active {
        > ul {
          @extend %dropdown-ul-active;
        }
        a:hover {
          border-bottom: none;
        }
      }

      > a {
        background: transparent;
        white-space: nowrap;
        &:hover {
          color: $color-navbar-box;
        }
      }
    }
  }
}

.dropdown > ul {
  @extend %dropdown-ul;
}

.dropdown.active > ul {
  @extend %dropdown-ul-active;
}

nav.crumb, nav.breadcrumb {
  a {
    color: $color-navbar-box;
    padding-top: 0;
    &:hover {
      color: $color-body-text;
      border-bottom: none;
    }
  }

  ul {
    > li {
      &:first-child {
        a {
          margin-left: 0;
        }
      }
      &:last-child {
        a {
          margin-right: 0;
        }
      }
      &:not(:last-child) {
        a {
          position: relative;
          &::after {
            content: '//';
            display: inline-block;
            font-size: $navbar-font-size;
            line-height: $navbar-font-size;
            position: relative;
            top: 0;
            bottom: 0;
            padding-bottom: 1em/$golden/2;
            right: -1em/$golden;
            color: $color-navbar-box;
          }
        }
      }
      &.active {
        a {
          color: $color-body-text;
        }
      }
    }
  }
}