@charset "UTF-8";
@import "variables/settings";
@import "mixins/responsive-font-weight";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";

// table styles
table {
  width: 100%;
  display: table;
  font-size: $form-font-size;
  border: none;
  outline: none;

  thead {
    font-weight: $font-weight-thead;
    border-bottom: $border-width solid $color-shade;
  }

  &.text-center > thead th {
    text-align: center;
  }

  &.text-right > thead th {
    text-align: right;
  }

  tbody {
    @include responsive-body-font-weight;
  }

  &.hover > tbody > tr {
    @include transition(background-color .1s);
    &:hover {
      background-color: $color-form-strip;
    }
  }

  &.striped > tbody > tr:nth-child(odd) {
    background-color: $color-form-strip;
  }

  &.outer-border {
    border: $border-width solid $color-shade;
  }

  &.col-border {
    tr > td:not(:last-child), tr > th:not(:last-child) {
      border-right: $border-width solid $color-shade;
    }
  }

  &.row-border {
    thead {
      border-bottom: $border-width*3 double $color-shade; // 3x border-width to make enough room for double line
    }
    tbody > tr:not(:last-child) {
      border-bottom: $border-width solid $color-shade;
    }
  }
}

td, th {
  font-weight: inherit;
  line-height: $form-box-size;
  padding: 0 (1em / $golden / 2);
}

td {
  text-align: inherit;
}