@import "variables/settings";
@import "mixins/font-size";
@import "mixins/media-queries";
@import "mixins/responsive-font-weight";
@import "compass/typography/vertical_rhythm";

// typography
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
  color: $color-heading-text;
  text-rendering: optimizeLegibility;
  @include padding-leader($rhythm-spacing);
  @include adjust-leading-to($rhythm-line-height);
  @include padding-trailer($rhythm-spacing);

  a {
    color: $color-heading-link;
    &:hover {
      color: $color-heading-link-hover;
    }
  }

  @include screen(phone) {
    & {
      word-wrap: break-word;
    }
  }
}

h1 {
  @include font-size-rem($xxxlarge);
  &.xlarge {
    @include font-size-rem($reallybig);
  }
  &.xxlarge {
    @include font-size-rem($tremendous);
  }
  &.absurd {
    @include font-size-rem($absurd);
  }
  @include screen(phone) {
    & {
      @include font-size-rem($xlarge);
    }
  }
}

h2 {
  @include font-size-rem($xlarge);
  @include screen(phone) {
    & {
      @include font-size-rem($larger + 6);
    }
  }
}

h3 {
  @include font-size-rem($larger);
}

h4 {
  @include font-size-rem($large);
}

h5 {
  @include font-size-rem($medium);
}

h6 {
  @include font-size-rem($normal);
}

p {
  font-family: $font-family;
  @include responsive-body-font-weight;
  @include font-size-rem($base-font-size);
  @include margin-trailer($rhythm-line-height/2);
  @include adjust-leading-to(1);
  &.lead {
    @include font-size-rem(modular-scale(0) * 1.25);
    margin-bottom: modular-scale(1);
  }
  &.indent {
    text-indent: 2em;
    text-indent: 2rem;
  }
}

a {
  color: $color-body-link;
  text-decoration: none;
  outline: 0;
  line-height: inherit;
  &:hover {
    color: $color-body-link-hover;
  }
}

ul, ol {
  @include margin-trailer($rhythm-spacing);
}

ul {
  list-style: none outside;
  ul {
    margin: rhythm(0.25, $base-font-size) 0 rhythm(0.25, $base-font-size) 2em;
    margin-left: 2rem;
  }
}

ol {
  list-style: decimal;
  margin-left: $base-font-size*2;
  ol {
    margin: rhythm(0.25, $base-font-size) 0 rhythm(0.25, $base-font-size) 2em;
    margin-left: 2rem;
  }
}

li {
  @include padding-trailer($rhythm-spacing);
}