@import "variables/settings";
@import "mixins/font-size";
@import "mixins/media-queries";
@import "mixins/responsive-font-weight";
@import "mixins/responsive-font-size";
@import "compass/typography/vertical_rhythm";
@import "compass/css3/flexbox";

// typography
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
  color: $color-heading-text;
  text-rendering: optimizeLegibility;
  @include padding-leader($rhythm-spacing);
  @include adjust-leading-to($rhythm-line-height);
  @include padding-trailer($rhythm-spacing);

  a {
    color: $color-heading-link;
    &:hover {
      color: $color-heading-link-hover;
    }
  }

  @include screen(phone) {
    & {
      word-wrap: break-word;
    }
  }
}

h1 {
  @include font-size-rem($xxxlarge);
  &.xlarge {
    @include font-size-rem($reallybig);
  }
  &.xxlarge {
    @include font-size-rem($tremendous);
  }
  &.absurd {
    @include font-size-rem($absurd);
  }
  @include screen(phone) {
    & {
      @include font-size-rem($xlarge);
    }
  }
}

h2 {
  @include font-size-rem($xlarge);
  @include screen(phone) {
    & {
      @include font-size-rem($larger + 6);
    }
  }
}

h3 {
  @include font-size-rem($larger);
}

h4 {
  @include font-size-rem($large);
}

h5 {
  @include font-size-rem($medium);
}

h6 {
  @include font-size-rem($normal);
}

article {
  @include font-size-rem($base-font-size);
}

p {
  font-family: inherit;
  @include responsive-body-font-weight;
  @include font-size-rem($base-font-size);
  @include margin-trailer($rhythm-line-height/2);
  @include adjust-leading-to(1);
  &.lead {
    @include font-size-rem(modular-scale(0) * 1.25);
    margin-bottom: modular-scale(1);
    text-indent: 0;
  }
  article > & {
    text-indent: 2em;
    &.no-indent {
      text-indent: 0;
    }
  }
  * > & {
    font-size: inherit;
  }
}

a {
  color: $color-body-link;
  text-decoration: none;
  outline: 0;
  line-height: inherit;
  &:hover {
    color: $color-body-link-hover;
    border-bottom: 1px solid;
  }
}

ul, ol {
  @include margin-trailer($rhythm-spacing);
}

ul {
  list-style: none outside;
  ul {
    margin: rhythm(0.25, $base-font-size) 0 rhythm(0.25, $base-font-size) 2em;
  }
}

ol {
  list-style: decimal;
  margin-left: 2em;
  ol {
    margin: rhythm(0.25, $base-font-size) 0 rhythm(0.25, $base-font-size) 2em;
  }
}

li {
  @include padding-trailer($rhythm-spacing);
}

// Chinese typography specifications, inspired by typo.css http://typo.sofi.sh/
blockquote {
  color: $color-quote-text;
  margin: rhythm($rhythm-line-height, $base-font-size) 4em rhythm($rhythm-line-height, $base-font-size) 4em;
  margin-left: 4rem;
  margin-right: 4rem;
  position: relative;
  min-height: $base-font-size * 3;
  @include display-flex();
  @include align-items(center);
  &:before, &:after {
    position: absolute;
    display: inline-block;
    font-size: $base-font-size * 4;
    font-weight: $font-weight-extra-light;
    color: $color-quotation-mark;
    line-height: $base-font-size * 4;
  }
  &:before {
    content: '\300e';
    left: -$base-font-size * 5;
    top: 0;
  }
  &:after {
    content: '\300f';
    right: -$base-font-size * 5;
    bottom: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

del {
  text-decoration: line-through;
}

sup, sub {
  font-size: 75%;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

u {
  text-decoration: none;
  border-bottom: 1px solid;
}

mark {
  background-color: rgba($color-marker, 0.4);
  color: inherit;
  margin: -0.2em;
  padding: 0.2em;
}

em {
  position: relative;
  &:after {
    position: absolute;
    top: 0.5em;
    left: 0;
    content: "\30fb";
    text-indent: 0;
  }
}

abbr {
  border-bottom: 1px dotted;
  font-variant: normal;
  cursor: help;
}

.responsive-text {
  @include responsive-font-size(1rem, 1.5rem, $device-width-min, $page-width);
}