doctype html
html
    head
        block title
            title Paper
        meta(name='author', content='YangMann yamasaki')
        meta(name='keywords', content='Paper css framework')
        meta(name='description', content='Paper, a modern CSS framework with a vintage breeze of China.')
        link(rel='stylesheet', href='css/paper.css')
    body
        block content