extends _base

block title
    title Paper 纸

block style
    style.
        #sample-doc {
            max-width: 100%;
            width: auto;
            left: -1px;
        }
        #links>a.btn {
            margin: 1em 0.5em;
            margin: 1rem 0.5rem;
        }
        #foot-text {
            position: absolute;
            right: 0.618rem;
            bottom: 0.618rem;
            color: #758a99;
        }

block content
    .row.valign
        .col.span-7-12.no-gutter(style='clear:both;')
            .doc.vertical.right#sample-doc
                .doc-title
                    h2 兰亭集序
                .doc-content
                    article
                        p 永和九年，岁在癸丑，暮春之初，会于会稽山阴之兰亭，修禊事也。群贤毕至，少长咸集。此地有崇山峻岭，茂林修竹，又有清流激湍，映带左右。引以为流觞曲水，列坐其次，虽无丝竹管弦之盛，一觞一咏，亦足以畅叙幽情。
                        p 是日也，天朗气清，惠风和畅。仰观宇宙之大，俯察品类之盛，所以游目骋怀，足以极视听之娱，信可乐也。
                        p 夫人之相与，俯仰一世。或取诸怀抱，晤言一室之内；或因寄所托，放浪形骸之外。虽趣舍万殊，静躁不同，当其欣于所遇，暂得于己，怏然自足，不知老之将至。及其所之既倦，情随事迁，感慨系之矣。向之所欣，俯仰之间，已为陈迹，犹不能不以之兴怀。况修短随化，终期于尽。古人云：『死生亦大矣。』岂不痛哉！
                        p 每览昔人兴感之由，若合一契，未尝不临文嗟悼，不能喻之于怀。固知一死生为虚诞，齐彭殇为妄作。后之视今，亦犹今之视昔，悲夫！故列叙时人，录其所述。虽世殊事异，所以兴怀，其致一也。后之览者，亦将有感于斯文。
        .col.span-5-12.text-center.no-gutter
            h1#title 纸 Paper
            h4 一个复古的前端框架
            h5 A modern CSS framework with vintage Chinese style
            h6 左边的文章不是图片。The article on the left is selectable.
            div#links
                a.btn.large.u#begin(href="demo.html") Demo
                a.btn.large.u#github(href="https://github.com/YangMann/Paper") Code
            div#foot-text.text-right
                div#latest-commit Latest commit&nbsp;
                    a#sha
                    span#date
                div#copyright &copy; 2015 Yang Zhang, All rights reserved.

block append js
    script.
        if ($('#latest-commit').length) {
            $.ajax({
                url: "https://api.github.com/repos/YangMann/Paper/commits/master",
                dataType: "json",
                success: function (data) {
                    var sha = data.sha.substring(0, 10)
                    var date = data.commit.author.date.substring(0, 10);
                    var $commit = $('#latest-commit');
                    $commit.find('#sha').html(sha).attr('href', data.html_url);
                    $commit.find('#date').html(' ' + date);
                }
            });
        }