extends _base

block title
    title Paper 纸

block style
    style.
        #sample-doc {

        }

block content
    .container
        .row.valign
            .col.span-7-12
                .doc.vertical#sample-doc
                    .doc-title
                        h2 小石潭记
                    .doc-content
                        article
                            p 从小丘西行百二十步，隔篁竹，闻水声，如鸣佩环，心乐之。伐竹取道，下见小潭，水尤清冽。全石以为底，近岸，卷石底以出，为坻，为屿，为嵁，为岩。青树翠蔓，蒙络摇缀，参差披拂。
                            p 潭中鱼可百许头，皆若空游无所依。日光下澈，影布石上，怡然不动，倏尔远逝，往来翕忽，似与游者相乐。
                            p 潭西南而望，斗折蛇行，明灭可见。其岸势犬牙差互，不可知其源。
                            p 坐潭上，四面竹树环合，寂寥无人，凄神寒骨，悄怆幽邃。以其境过清，不可久居，乃记之而去。
                            p 同游者：吴武陵，龚古，余弟宗玄。隶而从者，崔氏二小生：曰恕己，曰奉壹。
            .col.span-5-12.text-center
                h1 纸 Paper
                a.btn.large.u 开始使用
