// typography
$font-family: "Source Han Sans", "Hiragino Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
$font-family-song: Arial, Helvetica, tahoma, verdana, "宋体", SimSun, "华文细黑", STXihei, sans-serif;
$font-family-fangsong: Georgia, "Times New Roman", "FangSong", "仿宋", STFangSong, "华文仿宋", serif;
$font-family-kaiti: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
// replace with your heading fonts
$font-family-heading: $font-family;

// font weight
$font-weight-heavy: 700;
$font-weight-bold: 600;
$font-weight-medium: 500;
// for dark backgrounds, smaller screens (iPhone)
$font-weight-regular: 400;
// for light backgrounds, bigger screens (iPad)
$font-weight-normal: 300;
$font-weight-light: 200;
$font-weight-extra-light: 100;

$font-weight-heading: $font-weight-light;
$font-weight-body: $font-weight-normal !default;

// vertical rhythm
$rhythm-spacing: 0.168;
$rhythm-line-height: 0.711;

// modular-scale settings
$ms-ratio: $golden;
$ms-base: 16px 78px;

// sizing
@import "modular-scale";
$xsmall: modular-scale(-2);
$small: modular-scale(-1);
$normal: modular-scale(0);
$medium: modular-scale(1);
$large: modular-scale(2);
$larger: modular-scale(3);
$xlarge: modular-scale(4);
$xxlarge: modular-scale(5);
$xxxlarge: modular-scale(6);
$reallybig: modular-scale(8);
$tremendous: modular-scale(9);
$absurd: modular-scale(10);

// grid
$row-width-max: 940px !default;
$container-width-max: 1280px !default;
$column-number-max: 12 !default;
$gutter-width-px: 20px !default;

// responsiveness
$device-width-min: 400px;
$device-width-tablet: 768px;
$device-width-large-screen: 2880px;
$page-width: $row-width-max;

// colors
$color-hei: #000000 !default; // 黑 black
$color-qihei: #161823 !default; // 漆黑 almost black
$color-shenhei: #1c1e2a !default; // 深黑 quite black
$color-yaqing: #424c50 !default; // 鸦青 the color of crow's feather
$color-mose: #50616d !default; // 墨色 Chinese ink color
$color-mohui: #758a99 !default; // 墨灰 ink & gray
$color-yanzhi: #9d2933 !default; // 胭脂 coccineous
$color-yingtao: #c93756 !default; // 樱桃 cherry
$color-dahong: #ff2121 !default; // 大红 bright red
$color-jingbai: #ffffff !default; // 精白 pure white
$color-zhi: #fffefa !default; // 纸 paper white
$color-qianbai: #f0f0f4 !default; // 铅白 lead white
$color-su: #e0f0e9 !default; // 素 no color
$color-jianghuang: #ffc773 !default; // 姜黄 ginger yellow
$color-yahuang: #faff72 !default; // 鸭黄 color of duckling's feather

$color-heading-text: $color-qihei;
$color-body-text: $color-shenhei;
$color-shade: $color-yaqing;
$color-placeholder: $color-yaqing;
$color-quote-text: $color-mose;
$color-quotation-mark: $color-mohui;
$color-disabled-input: $color-mohui;
$color-body-link: $color-yanzhi;
$color-heading-link: $color-yanzhi;
$color-heading-link-hover: $color-yingtao;
$color-body-link-hover: $color-yingtao;
$color-heading-red-head: $color-dahong;
$color-background: $color-jingbai;
$color-paper: $color-zhi;
$color-newspaper: $color-qianbai;
$color-text-selection: $color-su;
$color-marker-underline: $color-jianghuang;
$color-marker: $color-yahuang;
// document
$document-padding: 10%;
$document-vertical-line-height: 40px;