@import "../functions/remove-unit";

// font size in rem with px fallback
@mixin font-size-rem($size) {
  $is-important: false;
  @if (length($size) == 2) {
    $size: nth($size, 1);
    $is-important: true;
  } @else {
    $is-important: false;
  }
  $size: if(unitless($size), $size, $size / 1px);
  @if $is-important {
    font-size: $size + px !important;
    font-size: ($size / remove-unit($base-font-size)) + rem !important;
  } @else {
    font-size: $size + px;
    font-size: ($size / remove-unit($base-font-size)) + rem;
  }
}